@font-face {
    src: url("fonts/ScienceGothic[YOPQ\,slnt\,wdth\,wght].woff2") format("woff2");
        font-family: 'Science Gothic';
        font-style: normal;
        font-weight: normal;
        }
    
    body{
    background-color: rgb(5, 0, 33);
    font-family: 'Science Gothic', sans-serif;
    background-image: url("Images/ScienceGothicBackground.svg");
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
}

#history {
grid-area: h;
}

#variations{
grid-area: v;
}

#alphabet {
grid-area: a;
font-size: 29px;
}
}
/* CSS for the footer */
footer{
    background-color: rgb(5, 0, 33);
    color: rgb(18, 180, 0);
    font-size: 20px;
}

/* variable font animation */
h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
    color: rgb(255, 255, 0, 0.94);
}

h2{
    font-weight:20; 
    text-align: left;
    font-variation-settings: "YOPQ" 100, "wght" 400, "slnt" -10, "wdth" 50;
    color: rgba(255, 255, 0, 0.94);
    font-size: 40px;
}
h1{
    font-weight:20; 
    text-align: left;
    font-variation-settings: "YOPQ" 100, "wght" 400, "slnt" -10, "wdth" 50;
    color: rgba(255, 255, 0, 0.94);
    font-size: 40px;
}
p{
    color: rgb(18, 180, 0);
}
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" -10, "wdth" 50;
    }
    50%{font-variation-settings: "YOPQ" 116, "wght" 900, "slnt" 0, "wdth" 200;
    }
    
}
/* text animations in variations section */
h5{
    font-size: 40px;
    color:rgb(18, 180, 0)
}
.slant{
    animation: slant 4s infinite;
    font-size: 60px;
    letter-spacing: 10px;
}

@keyframes slant {
    0%, 100%{
        font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" -10, "wdth" 50;
    }
    50%{font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" 0, "wdth" 50;
    }
}

.width{
    animation: width 5s infinite;
    font-size: 60px;
    letter-spacing: 3px;
}

@keyframes width {
    0%, 100%{
        font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" -10, "wdth" 50;
    }
    50%{font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" -10, "wdth" 200;
    }
}
.weight{
    animation: weight 4s infinite;
    font-size: 60px;
    letter-spacing: 3px;
}

@keyframes weight {
    0%, 100%{
        font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" -10, "wdth" 50;
    }
    50%{font-variation-settings: "YOPQ" 16, "wght" 900, "slnt" -10, "wdth" 50;
    }
}
.y-opaque{
    animation: y-opaque 10s infinite;
    font-size: 60px;
    letter-spacing: 3px;
}

@keyframes y-opaque {
    0%, 100%{
        font-variation-settings: "YOPQ" 16, "wght" 100, "slnt" -10, "wdth" 50;
    }
    50%{
        font-variation-settings: "YOPQ" 118, "wght" 100, "slnt" -10, "wdth" 50;
    }
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

